body {
    background-color: #e4e4e4;
}

p {
    text-align: justify;
}

div.container {
    background-color: white;
    width: auto;
    height: 550px;
    margin: 30px 200px;
    padding: 30px 250px;
    border-radius: 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    background-color: black;
    color: white;
    border-radius: 17px;
    padding: 3px 15px;
    margin-top: 13px;
}

.card {
    width: 195px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    border: none;
    margin-top: 5px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    padding-bottom: 3px;
}

